<div class='page' [formGroup]='form'>

  <div class='row row1' id='rank'>
    <input id='padawan' type='radio' value='padawan' name='rank' formControlName='rank'>
    <label class='rank padawan' for='padawan'></label>
    <input id='knight' type='radio' value='knight' name='rank' formControlName='rank'>
    <label class='rank knight' for='knight'></label>
    <input id='master' type='radio' value='master' name='rank' formControlName='rank'>
    <label class='rank master' for='master'></label>
  </div>

</div>
